* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: #23393b;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
  }
  
  
  /* HEADER / NAV BAR STYLES START */
  
  header {
    padding: 20px 35px;
    background-color: #323333;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #263133;
    background: #7cc8ce;
  }
  
  header a {
    text-decoration: none;
    color: #72c5cc;
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
  
  /* HEADER / NAVBAR STYLES END */
  
  /* HERO STYLES START */
.hero {
    background-image: url('https://t4.ftcdn.net/jpg/03/22/59/05/240_F_322590546_DDctmdvY80QMR7Df4pES08BZuLCCLXrP.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 300px;
    position: relative;
    font-size: 40px;

  }
  
.hero p {
    background:#7cc8ce;
    position:absolute;
    bottom: 0;
    right: 0;

  }
  
  /* HERO STYLES END */

  /* MAIN CONTENT START */

.main-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(224, 224, 224);
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    
}
.section-title {
display: flex;
flex-wrap: wrap;
justify-content: end;
width: 25%;
border-right: 3px solid rgb(34, 42, 68);
}

.section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    text-size-adjust: auto;
} 

.fade-in-image {
  opacity: 100%;
} 

.fade-in-image:hover {
  opacity:50%;
  transition:opacity 1s
}



/* Container holding the image and the text */
.section-content {
  position: relative;
  color: rgb(38, 37, 61);
  text-align: left;
  
}


a:link {
  color: #7cc8ce;
  font-size: 30px;
}

.links {
  word-spacing: 50px;
}

/* Bottom left text */
.bottom-left {
  bottom: 8px;
  left: 16px;
  max-height: 300px;
  max-width: 500px;
  min-height: 200px;
  min-width: 300px;
  background-image: url("../images/walk-the-moon1.jpg");
  background-size: 350px;
  background-repeat: no-repeat;
  border: 5px solid #7cc8ce;
  flex-wrap: wrap;
  flex-shrink: 4;
}

.bottom-left p {
  margin-top: 107px;
  margin-right: 187px;
  background-color: #72c5cc;
  padding: 10px 15px 10px 15px;

}
  /* MAIN CONTENT END /*

  /* Footer Style Begin */
footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-color: rgb(224, 224, 224);
}

footer h2 {
  font-size: 20px;
}

/* Footer Style End */