* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: #23393b;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  
  /* HEADER / NAV BAR STYLES START */
  
  header {
    padding: 20px 35px;
    background-color: #323333;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #263133;
    background: #7cc8ce;
  }
  
  header a {
    text-decoration: none;
    color: #72c5cc;
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
  
  /* HEADER / NAVBAR STYLES END */
  
  /* HERO STYLES START */
.hero {
    background-image: url('https://t4.ftcdn.net/jpg/03/22/59/05/240_F_322590546_DDctmdvY80QMR7Df4pES08BZuLCCLXrP.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 300px;
    position: relative;
    font-size: 40px;

  }
  
.hero p {
    background:#7cc8ce;
    position:absolute;
    bottom: 0;
    right: 0;

  }
  
  /* HERO STYLES END */

  /* ABOUT ME STYLE START */

.main-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

}
.section-title {
display: flex;
flex-wrap: wrap;
justify-content: end;
width: 25%;
border-right: 3px solid black;
font-family: Arial, Helvetica, sans-serif;
  }

.section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
}

  /* ABOUT ME STYLES END */

