* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: #23393b;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  
  /* HEADER / NAV BAR STYLES START */
  
  header {
    padding: 20px 35px;
    background-color: #323333;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #7cc8ce;
  }
  
  header a {
    text-decoration: none;
    color: #7cc8ce;
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
  
  /* HEADER / NAVBAR STYLES END */
  
  /* HERO STYLES START */
.hero {
    background-image: url('https://t4.ftcdn.net/jpg/03/22/59/05/240_F_322590546_DDctmdvY80QMR7Df4pES08BZuLCCLXrP.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.3;
  }
  
  .hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: #68e6e6;
    
  }
  
  /* HERO STYLES END */

  /* ABOUT ME STYLE START */

.intro p {
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
  }
  /* ABOUT ME STYLES END */